*
{
    margin: 0em;
    padding: 0em;
}

.body
{
    width: auto;
}

.page
{
    width: 90vw;
    margin: 1em auto;
}

.page-link::selection
{
    background-color: transparent;
}

.page-number
{
    margin: 0 0.5em 0 0;
}

.project
{
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-name: slideInFromLeft;
    animation-fill-mode: both;
    margin: 1rem 1rem;
    padding: 0;
}

.project-img
{
    cursor: pointer;
    max-width: 100%;
    height: auto;
    padding: 1rem;

    opacity: 1;
    transition: opacity 0.5s;
}
.project-img
{
    opacity: 0.8;
}
.project-text
{
    margin: .25em;
}

.project-search
{
    width: fit-content;
    margin: 0rem auto auto auto;
}

.project-input
{
    border-radius: 2px;
    border-width: 0px;
    border-style: none;
    line-height: 1.5em;
    padding: .375rem;
    border-image: none;
}

.project-input:focus
{
    outline-width: 0;
}

.project-page-number
{
    height: 2.5rem;
}

.project-prev
{
    color: white !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.project-next
{
    color: white !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

@media (max-width: 970px) 
{
}

.hide
{
    display:none;
}