*
{
    margin: 0;
    padding: 0;
}

.intro-name
{
    font-size: 4em;
}

.intro-paragraph
{
    font-size: 2em;    
}

body
{
    font-family: "Open Sans";
    margin: 0;
}

.card-img-top
{
    padding: 10px;
}

.paragraph-margin
{
    margin: 2em 0% 2em 0%;
}

.intro
{
    margin: 0 20%;
}

.panel
{
    padding: 0;
    margin: 0% 10%;
}

.card
{
    border-radius: 5px;
}

.btn
{
    opacity: 1;
    transition: opacity 0.5s;
    margin: 0.5rem 0;
}

.btn:hover
{
    opacity: 0.8;
}

.raise-up
{
    position: relative;
    bottom: 0px;
    transition: bottom 0.25s;
}

.raise-up:hover
{
    bottom: 2px; 
    transition: bottom 0s;
}

.card-discription
{
    margin: 1rem 2rem;
}

.section
{
    padding: 20vh 0;
}

.discription
{
    height: 100%;
    margin: 0 2rem;
}

.fade-in
{
    opacity: 0;
}

.footer-link
{
    border-radius: 0;
    text-align: center;
    font-weight: bolder;

    float: left;
    width: 33.33%;

    padding: 1rem 0;
}

.footer-link:hover
{
    color:white;
    text-decoration: none;
}

.footer-grid
{
    content: none; 
    padding-top: 8rem;
}

@media only screen and (max-width: 600px)
{
    .intro-name
    {
        font-size: 2em;
    }
    
    .intro-paragraph
    {
        font-size: 1em;    
    }

    .footer-grid
    {
        content: none; 
        display: grid;
    }

    .footer-link
    {
        float: none;
        width:100%;
    }
}

ol
{
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    padding: 0 2rem;
}