body
{
    font-family: "Open Sans";
    margin: 0;
    padding: 4rem 0 0 0;
}

.paragraph-margin
{
    margin: 2em 0% 2em 0%;
}

.panel
{
    padding: 0;
    margin: 0% 10% 0% 10%;
}

.bg-red
{
    background-color: rgb(216, 66, 66);
}

.bg-green
{
    background-color: rgb(90, 197, 108);
}

.bg-blue
{
    background-color: rgba(66, 133, 216);
}

.bg-gray
{
    background-color: #303030;
}

.btn
{
    opacity: 1;
    transition: opacity 0.5s;
}

.btn:hover
{
    opacity: 0.8;
}

.raise-up
{
    position: relative;
    bottom: 0px;
    transition: bottom 0.25s;
    transition: 0.25s;
}

.raise-up:hover
{
    bottom: 5px;
}

.card-discription
{
    margin: 1em 2em;
}