.pallet-background
{
    background-color: rgb(34, 38, 41);
}

.pallet-link
{
    color: #86C232;
    border-color: #86C232;
}

.pallet-link:hover
{
    color: #afff40;
}

.pallet-header
{
    color: #afff40;
}

.pallet-title
{
    color: white;
}

.pallet-paragraph
{
    color: #A8b3A9;
}

.pallet-card
{
    background-color: #474B4F;
}

.pallet-red
{
    color: white;
    background-color: #c23232;
}

.pallet-green
{
    color: white;
    background-color: #86C232;
}

.pallet-blue
{
    color: white;
    background-color: #327cc2;
}

.pallet-input
{
    color: #ffffff;
}

.pallet-button
{    
    color: #A8b3A9;
    background-color: #474B4F;
    border-width: 0px;
    border-radius: 0px;
    
}