@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

.seperator {
    height: 10rem;
}

/* Text Aligning */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/* container Aligning */
.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.pin-right {
    float: right;
    /* right: 0; */
}

.pin-left {
    float: left;
    /* left: 0; */
}

/* padding and margin stuff */
.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

* {
    font-family: "Open Sans", sans-serif;
    color: var(--paragraph);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    max-width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    color: var(--header);
}

p {
    color: var(--paragraph);
    font-weight: normal;
}

a {
    color: var(--link);
    cursor: pointer;
}

a:hover {
    color: var(--link-hover);
}

button:hover {
    color: var(--link-hover);
}

button {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--background);
    outline: 2px;
    background-color: var(--accent-background);
    color: var(--link);
    font-size: 1rem;
    cursor: pointer;
}

::placeholder {
    padding: 0;
    color: var(--input-placeholder);
    font-weight: bolder;
}

input,
textarea {
    padding: 0.5rem 0.5rem;
    width: 90%;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--input-border);
    outline: 0;
    background: var(--background);

    margin: 1rem 0;
}

@media only screen and (min-width: 800px) {
    input,
    textarea {
        width: 20rem;
        height: 2rem;
    }

    textarea {
        resize: none;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--accent-background);
}

::-webkit-scrollbar-thumb {
    background: var(--paragraph);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--header);
}

.icons {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 1rem; /* Preferred icon size */
    display: inline-block;
    margin: 0.25rem;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    cursor: pointer;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

.noTextHighlight {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.round {
    border-radius: 50vh;
}
