/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--invert-background);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--invert-background);
}
